body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

#answer-container {
  width: 80%;
  max-width: 1200px;
}

#answer-container div {
  background-color: #ccc;
  padding: 5px;
}

#answer-container div:nth-child(2n) {
  background-color: #fff;
}

.question {
    margin-bottom: 20px;
}
